<div class="max-w-screen-xl mx-auto">
  <div class="flex flex-row justify-between relative">
    <button (click)="goToFriends()"
            class="bg-gray-700 hover:bg-gray-400 transition-all
              text-white font-bold py-2 px-4 rounded">
      Contactos
    </button>
    <app-search-input></app-search-input>
  </div>

  <h1 class="text-xl text-cyan-100 text-center my-8">Próximamente</h1>

<!--  <h1 class="text-xl text-cyan-100 text-center my-8">Lista de usuarios</h1>-->

<!--  <table *ngIf="!showAlert" class="mx-auto text-center w-fit bg-gray-700 text-white border border-cyan-600">-->
<!--    <tbody>-->
<!--    <tr *ngFor="let user of userList">-->
<!--      <td class="py-2 px-4">-->
<!--        <span class="text-white font-semibold neon-text mx-auto">{{ user.fullname }}</span>-->
<!--      </td>-->
<!--      <td class="py-2 px-4">-->
<!--        <div>-->
<!--          <button class="bg-cyan-700 hover:bg-cyan-900 text-white font-bold py-2 px-4 rounded transition-all"-->
<!--                  (click)="sendFriendRequest(user)">-->
<!--            Solicitar amistad-->
<!--          </button>-->
<!--        </div>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--  <app-alert *ngIf="showAlert" class="mt-6" (onClose)="modalClosed()" [type]="AlertType.WARNING"-->
<!--             message="No se encontraron usuarios"></app-alert>-->
<!--</div>-->
