<div
  (mouseover)="showMenu = true"
  (mouseleave)="showMenu = false"
  class="rounded-xl bg-gradient-to-r from-teal-500 via-blue-500 to-cyan-600 p-0.5 shadow-sm"
>
  <div class="rounded-[10px] bg-white dark:bg-slate-900 p-2 sm:p-3">
    <!-- Popup toggle button -->
    <button
      *ngIf="menuButtonVisible()"
      #popupButton
      title="Cerrar"
      type="button"
      class="p-1 transition-all absolute right-2 z-[4] top-2 hover:bg-slate-200 focus:ring-gray-700 inline-flex items-center dark:hover:bg-slate-700 justify-center rounded-md ring-offset-background dark:hover:bg-accent"
    >
      <lucide-icon name="more-vertical" size="18"></lucide-icon>
    </button>
    <app-popup-menu
      [isOpen]="showPopup"
      (emittedOption)="handlePopupOption($event)"
      (onCloseEvent)="togglePopup()"
      [options]="popupOptions"
    ></app-popup-menu>

    <div class="">
      <ng-content></ng-content>
    </div>
    <time class="block text-xs opacity-70 mb-1">
      {{ note ? getNoteDate(note.creationDate) : "dd/mm/yyyy" }}
    </time>
    <div class="mx-2">
      <div
        class="flex gap-2"
        (mouseover)="showCopyBadge = true"
        (mouseleave)="showCopyBadge = false"
      >
        <h3 class="text-lg text-pretty break-all font-bold">
          {{ note?.title !== "" ? note?.title : "**Note title" }}
        </h3>
        <app-copy-badge
          class="bottom-2"
          [showText]="false"
          [text]="note?.title || ''"
        ></app-copy-badge>
      </div>
      <h4
        class="mt-0.5 whitespace-pre-line overflow-auto text-sm opacity-80 font-medium"
      >
        {{ note ? note.content : "**Note content" }}
      </h4>
    </div>
  </div>
</div>
