<div class="flex flex-wrap">
  @if (isAnySection) {
    <div class="animate-fade-in-down h-min pb-3 mx-auto flex flex-wrap sm:flex-nowrap w-full">
      <div
        class="w-full transition-colors h-fit md:max-w-[300px] md:min-w-[300px] sm:max-w-[300px] bg-white shadow-md rounded-sm p-4 dark:bg-slate-800 dark:hover:bg-slate-700 sm:mr-4"
      >
        <div
          (click)="toggleOpenSectionMenu()"
          class="cursor-pointer flex flex-row items-center justify-between w-full"
        >
          <h1 class="text-xl font-bold">
            Secciones
            @if ((loadingContent | async) && sectionList.length === 0) {
              <app-spinner></app-spinner>
            }
          </h1>
          <div>
            <lucide-icon
              [name]="!isOpenSectionMenu ? 'chevron-down' : 'chevron-up'"
              [size]="18"
            ></lucide-icon>
          </div>
        </div>
        @if (isOpenSectionMenu) {
          <nav class="mt-4">
            <ul class="space-y-1 text-gray-700 dark:text-gray-300">
              <li
                *ngFor="let section of sectionList"
                [ngClass]="section.title === currentSection
                            ? 'dark:bg-slate-600 bg-slate-100'
                            : ''"
                class="flex justify-between rounded transition-colors duration-100 dark:hover:bg-slate-600 hover:bg-slate-100"
              >
                <a
                  (click)="changeCurrentSection(section.title)"
                  role="button"
                  class="w-full py-1 px-3 dark:text-white text-ellipsis overflow-hidden"
                  rel="ugc"
                >
                  {{ section.title }}
                </a>
                <app-delete-button (onClick)="onDeleteSection(section)" title="Delete section"></app-delete-button>
              </li>
            </ul>
          </nav>
        }
        <div class="w-full h-1 border-b-2 border-slate-300 my-2"></div>

        <app-regular-button (onClick)="toggleCreateSection()" text="+ Crear sección"></app-regular-button>
      </div>
      <div
        class="max-w-lg shadow-md rounded py-6 mx-auto w-full px-1 mt-2 sm:mt-0 bg-white dark:bg-slate-900 sm:flex-grow sm:order-1 md:order-2"
      >
        <div class="flex justify-center align-middle gap-2">
          <lucide-icon class="my-auto" name="lock" size="24"></lucide-icon>
          <h1 class="text-xl font-bold text-ellipsis overflow-hidden">
            Tus contraseñas: @if (loadingContent|async) {
            <app-spinner
            ></app-spinner>
          } @else {
            {{ currentSection }}
          }
          </h1>
        </div>
        <div
          class="mx-auto mt-6 max-w-md md:w-fit text-base leading-6 font-bold sm:text-lg sm:leading-7"
        >
          <app-regular-button (onClick)="toggleCreate()" buttonStyle="outline" text="Añadir"></app-regular-button>
        </div>
        <div class="divide-y divide-gray-200 dark:divide-gray-500">
          <ul
            class="pt-8 text-base mx-auto leading-6 space-y-1 text-gray-700 sm:text-lg sm:leading-7 dark:text-gray-300"
          >
            <li *ngIf="(loadingContent | async) && passwords?.length === 0" class="text-center">
              <app-spinner></app-spinner>
            </li>
            <li *ngIf="!(loadingContent | async) && passwords.length === 0" class="text-sm">
              <p class="text-center">Aún no has guardado ninguna contraseña en "{{ currentSection }}".</p>
            </li>

            <li
              *ngFor="let password of passwords"
              class="flex justify-between transition-colors duration-100 dark:hover:bg-slate-800 hover:bg-slate-100 px-4 py-1 rounded-md"
            >
              <div>
                <h2 class="font-semibold">
                  <div
                    class="text-purple-600 hover:underline dark:text-purple-300 text-ellipsis overflow-hidden"
                  >
                    {{ password.title }}
                  </div>
                </h2>
                <h2 class="text-sm text-ellipsis overflow-hidden">
                  {{ password.username }}
                </h2>
                <h2 class="text-sm text-ellipsis overflow-hidden">
                  {{ password.email }}
                </h2>
                @if (password.visible) {
                  <app-copy-badge
                    [text]="password.password"
                    icon="key-round"
                  ></app-copy-badge>
                } @else {
                  <p>******</p>
                }
              </div>
              <div class="flex space-x-2 items-center">
                <app-show-password-button (onClick)="triggerVisibility(password._id)"
                                          title="See/hide password"></app-show-password-button>
                <app-delete-button (onClick)="onDeletePassword(password)" title="Delete password"></app-delete-button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  } @else {
    <div class="mx-auto text-center my-20">
      @if (!(loadingContent | async) && !isAnySection) {
        <div class="animate-fade-in-down text-3xl text-fuchsia-500 mb-8">No hay ninguna sección</div>
        <button
          (click)="toggleCreateSection()"
          class="inline-flex border-[1px] border-gray-500 hover:bg-slate-100 dark:bg-transparent dark:hover:bg-slate-800 dark:focus:bg-slate-700 items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary h-10 px-4 py-2 w-full text-purple-600 dark:text-purple-300"
          type="button"
        >
          Crea una
        </button>
      } @else if ((loadingContent | async)) {
        <app-spinner></app-spinner>
      }
    </div>
  }
</div>

@if (isCreatingPassword) {
  <app-overlay
    [disableAccept]="form.title === '' || form.password === ''"
    [useActionButton]="true"
    [useCancelButton]="false"
    (onAcceptEvent)="createPassword($event)"
    (onCloseEvent)="toggleCreate()"
  >
    <h2 class="text-xl mb-4">Guarda una contraseña</h2>
    <form (submit)="createPassword($event)">
      <app-input [model]="form.title"
                 (valueChange)="form.title = $event"
                 [required]="true"
                 placeholder="Título (obligatorio)"
      ></app-input>

      <div class="flex items-center gap-1">
        <app-input class="w-full"
                   [model]="form.password"
                   (valueChange)="form.password = $event"
                   [type]="getNewPasswordVisibility()"
                   [required]="true"
                   placeholder="Contraseña"
        ></app-input>
        <app-show-password-button class="mb-2" title="Show/hide password"
                                  (onClick)="toggleNewPasswordVisibility()"
                                  [visible]="newPasswordVisible"
        ></app-show-password-button>
      </div>
      <app-input [model]="form.username"
                 (valueChange)="form.username = $event"
                 placeholder="Usuario (opcional)"
      ></app-input>
      <app-input [model]="form.email"
                 type="email"
                 (valueChange)="form.email = $event"
                 placeholder="Email (opcional)"
      ></app-input>
    </form>
  </app-overlay>
}

@if (isCreatingSection) {
  <app-overlay
    [useCancelButton]="false"
    [disableAccept]="sectionForm.title === ''"
    (onAcceptEvent)="createSection($event)"
    (onCloseEvent)="toggleCreateSection()"
  >
    <h2 class="text-xl mb-4">Pónle un título</h2>
    <form (submit)="createSection($event)">
      <app-input [model]="sectionForm.title"
                 (valueChange)="sectionForm.title = $event"
                 placeholder="Título">

      </app-input>
    </form>
  </app-overlay>
}

<!--Deleting password-->
<app-overlay
  [showOverlay]="isDeleteOverlayVisible"
  (onCloseEvent)="toggleDeleteOverlay()"
  (onAcceptEvent)="deletePassword()"
>
  <h1 class="text-center font-bold">
    ¿Seguro que deseas eliminar esta contraseña?
  </h1>
  <form (submit)="deletePassword()">
    <div class="mx-auto mt-2 text-center text-xl w-fit font-bold text-red-400">
      {{ savedPassword?.title }}
    </div>
  </form>
</app-overlay>

<!--Deleting section-->
<app-overlay
  [showOverlay]="isDeleteSectionOverlayVisible"
  (onCloseEvent)="toggleDeleteSectionOverlay()"
  (onAcceptEvent)="deleteSection()"
>
  <form (submit)="deleteSection()">
    <h1 class="text-center font-bold">
      ¿Seguro que deseas eliminar esta sección?
    </h1>
    <div class="mx-auto my-2 text-center text-xl w-fit font-bold text-red-400">
      {{ savedSection?.title }}
    </div>
    <h2 class="text-center text-gray-400">
      Perderás todas las contraseñas asociadas.
    </h2>
  </form>
</app-overlay>

<!-- Activate visibility -->
<app-overlay
  [showOverlay]="isAccountPasswordOverlayVisible"
  (onCloseEvent)="toggleAccountPasswordOverlay()"
  (onAcceptEvent)="checkAccountPassword()"
  [useActionButton]="true"
  [useCancelButton]="true"
>
  <h1 class="mb-3 text-lg font-bold">Escribe tu contraseña:</h1>
  <form (ngSubmit)="checkAccountPassword()">
    <app-input [model]="accountPass" type="password" (valueChange)="accountPass = $event"
               placeholder="Contraseña de tu cuenta de NoteThat"></app-input>
  </form>
</app-overlay>
