<div class="dark:bg-gray-950 flex flex-wrap">
  @if (false) {
    <div class="h-min pb-3 mx-auto flex flex-wrap sm:flex-nowrap w-full">
      <div
        class="w-full h-fit md:max-w-[300px] md:min-w-[300px] sm:max-w-[300px] bg-white shadow-lg rounded-sm p-4 dark:bg-gray-800 dark:hover:bg-gray-700 sm:order-2 sm:ml-4 md:ml-0 md:order-1"
      >
        <div (click)="toggleOpenSectionMenu()" class="cursor-pointer flex flex-row items-center justify-between w-full">
          <h1 class="text-2xl font-bold text-gray-900 dark:text-gray-100">
            Secciones
            <app-spinner></app-spinner>
          </h1>
          <div>
            <lucide-icon [name]="isOpenSectionMenu ? 'chevron-down' : 'chevron-up'" [size]="18"></lucide-icon>
          </div>
        </div>
        @if (true) {
          <nav class="mt-4">
            <ul class="space-y-1 text-gray-700 dark:text-gray-300">
              <li
                (click)="changeCurrentSection(section.title)"
                *ngFor="let section of sectionList"
                class="cursor-pointer flex justify-between rounded dark:hover:bg-gray-600 hover:bg-gray-200"
              >
                <button
                  class="py-1 px-3 dark:text-white text-ellipsis overflow-hidden"
                  rel="ugc"
                >
                  {{ section.title }}
                </button>
                <button title="Delete section"
                        (click)="onDeleteSection(section)"
                        class="px-1 inline-flex items-center dark:hover:bg-red-700 hover:bg-red-400 dark:focus:bg-red-900 focus:bg-red-600 justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-destructive text-destructive-foreground hover:bg-destructive/90"
                >
                  <lucide-icon name="trash" [size]="18"></lucide-icon>
                </button>
              </li>
            </ul>
          </nav>
        }
        <div class="w-full h-1 border-b-2 border-gray-500 my-2"></div>
        <button
          (click)="toggleCreateSection()"
          class="inline-flex bg-transparent focus:border-gray-500 hover:bg-gray-100 dark:bg-transparent dark:hover:bg-gray-800 dark:focus:bg-gray-700 items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary h-10 px-4 py-2 w-full text-purple-600 dark:text-purple-300"
          type="button"
        >
          + Crear sección
        </button>
      </div>
      <div
        class="max-w-lg shadow-md rounded py-6 mx-auto w-full px-1 mt-2 sm:mt-0 bg-white dark:bg-gray-950 sm:flex-grow sm:order-1 md:order-2"
      >
        <div class="flex justify-center align-middle space-x-5 px-4">
          <lucide-icon class="my-auto" name="lock" size="28"></lucide-icon>
          <h1
            class="text-2xl font-bold text-gray-900 dark:text-gray-100 text-ellipsis overflow-hidden"
          >
            Tus contraseñas: {{ currentSection }}
          </h1>
        </div>
        <div
          class="mx-auto mt-6 max-w-md md:w-fit text-base leading-6 font-bold sm:text-lg sm:leading-7"
        >
          <button
            (click)="toggleCreate()"
            class="inline-flex border-[1px] border-gray-500 hover:bg-gray-100 dark:bg-transparent dark:hover:bg-gray-800 dark:focus:bg-gray-700 items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary h-10 px-4 py-2 w-full text-purple-600 dark:text-purple-300"
            type="button"
          >
            Añadir
          </button>
        </div>
        <div class="divide-y divide-gray-200 dark:divide-gray-500">
          <ul
            class="py-8 text-base mx-auto leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7 dark:text-gray-300"
          >
            <li *ngIf="!passwords || passwords.length === 0" class="text-center">
              Aún no has guardado ninguna contraseña en esta sección.
            </li>

            <li
              *ngFor="let password of passwords"
              class="flex justify-between dark:hover:bg-gray-900 hover:bg-gray-100 px-4 py-1 rounded-md"
            >
              <div>
                <h2 class="font-semibold">
                  <div
                    class="text-purple-600 hover:underline dark:text-purple-300 text-ellipsis overflow-hidden"
                  >
                    {{ password.title }}
                  </div>
                </h2>
                <h2 class="text-sm text-ellipsis overflow-hidden">
                  {{ password.username }}
                </h2>
                <h2 class="text-sm text-ellipsis overflow-hidden">
                  {{ password.email }}
                </h2>
                <!--                <input class="px-2 w-min focus-visible:outline-none bg-gray-200 rounded-md dark:bg-gray-700"-->
                <!--                  [type]="password.visible ? 'text' : 'password'"-->
                <!--                       [contentEditable]="false"-->
                <!--                       [value]="password.password">-->
                @if (password.visible) {
                  <app-copy-badge [text]="password.password" icon="key-round"></app-copy-badge>
                } @else {
                  <p>******</p>
                }
              </div>
              <div class="flex space-x-2 items-center">
                <button title="See/hide password"
                        (click)="triggerVisibility(password._id)"
                        class="p-2 hover:bg-gray-200 focus:ring-gray-700 inline-flex items-center dark:hover:bg-gray-700 justify-center rounded-md ring-offset-background dark:hover:bg-accent"
                >
                  <lucide-icon [name]="!password.visible ? 'eye' : 'eye-off'" [size]="20"></lucide-icon>
                </button>
                <button title="Delete password"
                        (click)="onDeletePassword(password)"
                        class="p-2 inline-flex items-center dark:hover:bg-red-700 hover:bg-red-400 focus:bg-red-600 dark:focus:bg-red-900 justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-destructive text-destructive-foreground hover:bg-destructive/90"
                >
                  <lucide-icon name="trash" [size]="18"></lucide-icon>
                </button>
              </div>
            </li>
          </ul>
        </div>
        @if (isCreatingPassword) {
          <ng-container *ngTemplateOutlet="createPasswordTemplate"></ng-container>
        }
      </div>
    </div>
  } @else {
    <div class="mx-auto text-center my-20">
      <div class="text-3xl text-fuchsia-500 mb-8">No hay ninguna sección</div>
      <button
        (click)="toggleCreateSection()"
        class="inline-flex border-[1px] border-gray-500 hover:bg-gray-100 dark:bg-transparent dark:hover:bg-gray-800 dark:focus:bg-gray-700 items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary h-10 px-4 py-2 w-full text-purple-600 dark:text-purple-300"
        type="button"
      >
        Crea una
      </button>
    </div>
  }
</div>

<ng-template #createPasswordTemplate>
  <div class="border border-purple-800 rounded">
    <app-overlay
      (onAcceptEvent)="createPassword()"
      (onCloseEvent)="toggleCreate()"
    >
      <form class="p-2" (ngSubmit)="createPassword($event)">
        <input
          [(ngModel)]="form.title"
          required
          type="text"
          class="block placeholder-gray-600 dark:placeholder-gray-400 focus:bg-gray-200 bg-gray-100 hover:bg-gray-50 dark:text-white dark:bg-gray-800 dark:hover:bg-gray-900 dark:focus:bg-gray-900 w-full p-3 rounded mb-2"
          placeholder="Título (obligatorio)"
        />
        <div class="flex gap-1 mb-2">
          <input
            [(ngModel)]="form.password"
            required
            id="newPassword"
            class="block placeholder-gray-600 dark:placeholder-gray-400 focus:bg-gray-200 bg-gray-100 hover:bg-gray-50 dark:text-white dark:bg-gray-800 dark:hover:bg-gray-900 dark:focus:bg-gray-900 w-full p-3 rounded"
            placeholder="Contraseña"
            [type]="getNewPasswordVisibility()"
          />
          <button title="See/hide password"
                  (click)="toggleNewPasswordVisibility()"
                  type="button"
                  class="my-auto focus:ring-2 ring-gray-700 dark:ring-gray-200  p-1.5 text-gray-700 dark:text-gray-200 rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:hover:bg-accent hover:bg-gray-200 dark:hover:bg-gray-800 dark:hover:text-accent-foreground"
          >
            <lucide-icon [name]="newPasswordVisible ? 'eye-off' : 'eye'" [size]="18"></lucide-icon>
          </button>
        </div>
        <input
          [(ngModel)]="form.username"
          type="text"
          class="block placeholder-gray-600 dark:placeholder-gray-400 focus:bg-gray-200 bg-gray-100 hover:bg-gray-50 dark:text-white dark:bg-gray-800 dark:hover:bg-gray-900 dark:focus:bg-gray-900 w-full p-3 rounded mb-2"
          placeholder="Usuario (opcional)"
        />
        <input
          [(ngModel)]="form.email"
          email
          type="email"
          class="block placeholder-gray-600 dark:placeholder-gray-400 focus:bg-gray-200 bg-gray-100 hover:bg-gray-50 dark:text-white dark:bg-gray-800 dark:hover:bg-gray-900 dark:focus:bg-gray-900 w-full p-3 rounded mb-2"
          placeholder="Email (opcional)"
        />
      </form>
    </app-overlay>
  </div>
</ng-template>

@if (isCreatingSection) {
  <app-overlay
    [useActionButton]="false"
    [useCancelButton]="false"
    (onCloseEvent)="toggleCreateSection()"
  >
    <h2 class="text-xl mb-4">Pónle un título</h2>
    <form (submit)="createSection($event)">
      <input
        [(ngModel)]="sectionForm.title"
        type="text"
        class="block placeholder-gray-600 dark:placeholder-gray-400 focus:bg-gray-200 bg-gray-100 hover:bg-gray-50 dark:text-white dark:bg-gray-800 dark:hover:bg-gray-900 dark:focus:bg-gray-900 w-full p-3 rounded mb-2"
        placeholder="Título"
      />
      <button
        (click)="createSection($event)"
        [disabled]="sectionForm.title === ''"
        class="inline-flex bg-transparent focus:border-gray-500 hover:bg-gray-100 dark:bg-transparent dark:hover:bg-gray-800 dark:focus:bg-gray-700 items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary h-10 px-4 py-2 w-full text-purple-600 dark:text-purple-300"
        type="button"
      >
        <app-spinner></app-spinner>
        Aceptar
      </button>
    </form>
  </app-overlay>
}

<!--Deleting password-->
@if (isDeleteOverlayVisible) {
  <app-overlay
    (onCloseEvent)="toggleDeleteOverlay()"
    (onAcceptEvent)="deletePassword()"
  >
    <h1 class="text-center font-bold">
      ¿Seguro que deseas eliminar esta contraseña?
    </h1>
    <form (submit)="deletePassword()">
      <div class="mx-auto mt-2 text-center text-xl w-fit font-bold text-red-400">
        {{ savedPassword?.title }}
      </div>
    </form>
  </app-overlay>
}

<!--Deleting section-->
@if (isDeleteSectionOverlayVisible) {
  <app-overlay
    (onCloseEvent)="toggleDeleteSectionOverlay()"
    (onAcceptEvent)="deleteSection()"
  >
    <form (submit)="deleteSection()">
      <h1 class="text-center font-bold">
        ¿Seguro que deseas eliminar esta sección?
      </h1>
      <div class="mx-auto my-2 text-center text-xl w-fit font-bold text-red-400">
        {{ savedSection?.title }}
      </div>
      <h2 class="text-center text-gray-400">
        Perderás todas las contraseñas asociadas.
      </h2>
    </form>
  </app-overlay>
}

<!-- Activate visibility -->
@if (isAccountPasswordOverlayVisible) {
  <app-overlay
    (onCloseEvent)="toggleAccountPasswordOverlay()"
    (onAcceptEvent)="checkAccountPassword()"
  >
    <h1 class="mb-3 text-lg font-bold">Escribe tu contraseña:</h1>
    <form (ngSubmit)="checkAccountPassword()">
      <input
        [(ngModel)]="accountPass"
        class="block placeholder-gray-600 dark:placeholder-gray-400 focus:bg-gray-200 bg-gray-100 hover:bg-gray-50 dark:text-white dark:bg-gray-800 dark:hover:bg-gray-900 dark:focus:bg-gray-900 w-full p-3 rounded mb-2"
        type="password"
        placeholder="Contraseña de tu cuenta de NoteThat"
      />
    </form>
  </app-overlay>
}
