<button
  [disabled]="disabled"
  [title]="title"
  [class]="buttonType"
  [type]="type"
  (click)="onClickEmit($event)"
  class="text-nowrap text-sm font-medium inline-block"
  [class.rounded-full]="roundedFull"
  [class.rounded-lg]="!roundedFull"
>
  <span class="inline-block align-middle">
    <app-lucide-icon *ngIf="icon && !showSpinner && !(loading$ | async)" [name]="icon" [size]="iconSize"></app-lucide-icon>
    <app-lucide-icon
      *ngIf="showSpinner && (loading$ | async)"
      [spin]="true"
      size="18"
      name="loader-2"
    ></app-lucide-icon></span
  >{{ text }}
</button>
