<div class="animate-fade-in-down h-full w-full mx-auto flex flex-col sm:flex-row">
  <app-section-list [sectionList]="sectionList"
                    [loading$]="sectionsLoading$"
                    (selectSection)="changeSection($event)"
                    (addSection)="createSection($event)"
                    (deleteSection)="deleteSection($event)"
  ></app-section-list>
  <div *ngIf="currentSection$.getValue()"
       class="h-min max-w-lg shadow-md rounded py-6 mx-auto w-full px-1 mt-2 sm:mt-0 bg-white dark:bg-slate-900 sm:flex-grow sm:order-1 md:order-2"
  >
    <app-password-list [currentSection$]="currentSection$"></app-password-list>
  </div>
</div>

