<div class="flex mx-2 justify-between align-middle items-center">
  <div class="flex gap-2 text-lg text-wrap font-bold overflow-hidden">
    <app-lucide-icon class="my-auto" name="lock" size="24"></app-lucide-icon>
    {{ (currentSection$ | async)?.title }}
    <app-spinner></app-spinner>
  </div>
  <app-regular-button
    (onClick)="openCreate()"
    icon="plus"
    iconsize="24"
  ></app-regular-button>
</div>
<div>
  <ul class="mt-2 text-base mx-auto leading-6 space-y-1 text-gray-700 sm:text-lg sm:leading-7 dark:text-gray-300">
    @if ((passwords$ | async)?.length === 0) {
      <li class="animate-fade-in-down animate-duration-fast text-sm">
        <p class="text-center">
          Aún no has guardado ninguna contraseña en "{{ (currentSection$ | async)?.title }}".
        </p>
      </li>
    } @else {
      <ng-container *ngFor="let password of passwords">
        <app-password-item [password]="password"
                           (passwordDeleted)="passwordDeleted($event)"></app-password-item>
      </ng-container>
    }
  </ul>
</div>

<ng-template #createModal>
    <h2 class="text-xl mb-4">Guarda una contraseña</h2>
    <form (submit)="onCreatePassword()">
        <app-input
                [model]="(passwordForm | async)?.title"
                (valueChange)="onUpdatePasswordForm($event, 'title')"
                [required]="true"
                placeholder="Título (obligatorio)"
        ></app-input>

        <div class="flex items-center gap-1">
            <app-input
                    class="w-full"
                    [model]="(passwordForm | async)?.password"
                    (valueChange)="onUpdatePasswordForm($event, 'password')"
                    [type]="newPasswordVisible ? 'text' : 'password'"
                    [required]="true"
                    placeholder="Contraseña"
            ></app-input>
            <app-show-password-button
                    class="mb-2"
                    title="Show/hide password"
                    (onClick)="toggleNewPasswordVisibility()"
                    [visible]="newPasswordVisible"
            ></app-show-password-button>
        </div>
        <app-input
                [model]="(passwordForm | async)?.username"
                (valueChange)="onUpdatePasswordForm($event, 'username')"
                placeholder="Usuario (opcional)"
        ></app-input>
        <app-input
                [model]="(passwordForm | async)?.email"
                type="email"
                (valueChange)="onUpdatePasswordForm($event, 'email')"
                placeholder="Email (opcional)"
        ></app-input>
    </form>
</ng-template>
