<div class="flex mx-2 justify-between align-middle items-center">
  <div class="flex gap-2 text-lg text-wrap font-bold overflow-hidden">
    <app-lucide-icon class="my-auto" name="lock" size="24"></app-lucide-icon>
    {{ currentSection$.getValue()?.title }}
    <app-spinner></app-spinner>
  </div>
  <app-regular-button
    (onClick)="toggleCreate()"
    icon="plus"
    iconsize="24"
  ></app-regular-button>
</div>
<div class="">
  <ul class="pt-8 text-base mx-auto leading-6 space-y-1 text-gray-700 sm:text-lg sm:leading-7 dark:text-gray-300">
    @if ((passwords$ | async)?.length === 0) {
      <li class="animate-fade-in-down animate-duration-fast text-sm">
        <p class="text-center">
          Aún no has guardado ninguna contraseña en "{{ currentSection$.getValue()?.title }}".
        </p>
      </li>
    } @else {
      <ng-container *ngFor="let password of passwords">
        <app-password-item [password]="password"
                           (passwordDeleted)="passwordDeleted()"></app-password-item>
      </ng-container>
    }
  </ul>
</div>

<app-overlay [showOverlay]="isCreatingPassword"
             [disableAccept]="passwordForm.title === '' || passwordForm.password === ''"
             [useActionButton]="true"
             [useCancelButton]="false"
             (onAcceptEvent)="onCreatePassword()"
             (onCloseEvent)="toggleCreate()"
>
  <h2 class="text-xl mb-4">Guarda una contraseña</h2>
  <form (submit)="onCreatePassword()">
    <app-input
      [model]="passwordForm.title"
      (valueChange)="passwordForm.title = $event"
      [required]="true"
      placeholder="Título (obligatorio)"
    ></app-input>

    <div class="flex items-center gap-1">
      <app-input
        class="w-full"
        [model]="passwordForm.password"
        (valueChange)="passwordForm.password = $event"
        [type]="newPasswordVisible ? 'text' : 'password'"
        [required]="true"
        placeholder="Contraseña"
      ></app-input>
      <app-show-password-button
        class="mb-2"
        title="Show/hide password"
        (onClick)="toggleNewPasswordVisibility()"
        [visible]="newPasswordVisible"
      ></app-show-password-button>
    </div>
    <app-input
      [model]="passwordForm.username"
      (valueChange)="passwordForm.username = $event"
      placeholder="Usuario (opcional)"
    ></app-input>
    <app-input
      [model]="passwordForm.email"
      type="email"
      (valueChange)="passwordForm.email = $event"
      placeholder="Email (opcional)"
    ></app-input>
  </form>
</app-overlay>
