<div class="container mx-auto">
  <div class="flex justify-center items-center mt-10 mx-4">
    <div class="bg-white rounded-lg shadow-lg p-8">
      <div class="flex justify-center">
        <img class="w-auto h-24 rounded-full" src="./assets/NoteThatSimple.png" alt="User Avatar">
      </div>
      <div class="text-center mt-4">
        <h2 class="text-2xl font-bold">{{fullName}}</h2>
        <p class="text-gray-600">Usuario de NoteThat</p>
      </div>
      <div class="mt-6 text-center">Email:
        <span class="text-gray-900 font-bold">{{email}}</span>
      </div>
    </div>
  </div>
</div>
