<div class="container mx-auto">
  <div class="flex justify-center text-white items-center mt-10 mx-4">
    <div class="bg-gray-800 rounded-lg shadow-lg p-8">
      <div class="flex justify-center">
        <img
          class="w-auto h-24 rounded-full"
          ngSrc="./assets/img/NoteThatSimple.png"
          alt="User Avatar"
          height="100"
          width="250"
        />
      </div>
      <app-spinner></app-spinner>

      <div class="text-center mt-4">
        <p class="text-gray-300">Usuario de NoteThat</p>
        <h2 class="text-2xl font-medium text-purple-400">{{ fullName }}</h2>
      </div>
      <div class="mt-6 text-center">
        <div (click)="copyToClipboard()"
          class="cursor-pointer flex flex-row justify-center gap-2 p-1 rounded-md hover:bg-slate-700"
        >
          @if (false) {
          <img
            src="../../../assets/svg/tick-animated.svg"
            alt=""
            height="21px"
            width="21px"
          />
          } @else {
          <img
            src="../../../assets/svg/letter.svg"
            alt=""
            height="21px"
            width="21px"
          />
          }
          <span class="font-bold">{{ email }} </span>
        </div>
      </div>
    </div>
  </div>
</div>
