<div #searchInput>
  <input #input
    type="text"
    class="h-10 py-2 rounded-full bg-gray-950 text-white focus:bg-gray-600 focus:outline-white"
    [class.w-0]="!isExpanded"
    [class.w-40]="isExpanded"
    [class.px-0]="!isExpanded"
    [class.px-4]="isExpanded"
    [class.cursor-pointer]="!isExpanded"
    [class.cursor-auto]="isExpanded"
    placeholder="Buscar"
  />
  <div (click)="expandSearch()"
    class="absolute rounded-full inset-y-0 right-0 flex focus:bg-gray-600 focus:outline-none items-center pr-3 cursor-pointer"
  >
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor"
         class="h-6 w-6 transition-colors duration-300 hover:text-gray-500">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <g id="Interface / Search_Magnifying_Glass">
          <path id="Vector"
                d="M15 15L21 21M10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10C17 13.866 13.866 17 10 17Z"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </g>
      </g>
    </svg>
  </div>
</div>
