<div class="mt-8 flex flex-col">
  <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
    <div class="bg-gray-100 px-6 py-8 rounded shadow-xl text-black w-full">
      <h1 class="mb-8 text-3xl text-center">Crea tu cuenta</h1>
      <input
        type="text"
        class="block border border-grey-light w-full p-3 rounded mb-4"
        name="fullname"
        placeholder="Nombre completo"/>

      <input
        type="text"
        class="block border border-grey-light w-full p-3 rounded mb-4"
        name="email"
        placeholder="Email"/>

      <input
        type="password"
        class="block border border-grey-light w-full p-3 rounded mb-4"
        name="password"
        placeholder="Contraseña"/>
      <input
        type="password"
        class="block border border-grey-light w-full p-3 rounded mb-4"
        name="confirm_password"
        placeholder="Confirmar contraseña"/>

      <button
        type="submit"
        class="w-full text-center py-3 rounded text-black bg-emerald-200 hover:bg-emerald-400 focus:outline-none my-1"
      >Crear cuenta
      </button>

      <!--      <div class="text-center text-sm text-grey-dark mt-4">-->
      <!--        By signing up, you agree to the-->
      <!--        <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">-->
      <!--          Terms of Service-->
      <!--        </a> and-->
      <!--        <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">-->
      <!--          Privacy Policy-->
      <!--        </a>-->
      <!--      </div>-->
    </div>

    <div class="text-grey-dark mt-6">
      Ya tienes cuenta?
      <a class="text-cyan-500 hover:text-cyan-800" routerLink="/user/login">
        Inicia sesión
      </a>.
    </div>
  </div>
</div>
