@if (sectionList.length > 0) {
  <div
    class="w-full transition-colors h-min md:max-w-[300px] md:min-w-[300px] sm:max-w-[300px] bg-white shadow-md rounded-sm p-4 dark:bg-slate-800 dark:hover:bg-slate-700 sm:mr-4"
  >
    <div
      (click)="toggleOpenSectionMenu()"
      class="cursor-pointer w-full hover:text-gray-400 flex flex-row items-center justify-between"
    >
      <h1 class="transition-colors text-xl font-bold">
        Secciones
        @if ((loading | async) && (isAnySection$ | async)) {
          <app-spinner></app-spinner>
        }
      </h1>
      <div>
        <app-lucide-icon
          size="18"
          [name]="!isOpenSectionMenu ? 'chevron-down' : 'chevron-up'"
        ></app-lucide-icon>
      </div>
    </div>
    @if (isOpenSectionMenu) {
      <nav class="mt-4">
        <ul class="space-y-1 text-gray-700 dark:text-gray-300">
          <li
            *ngFor="let section of sectionList"
            [ngClass]="
            section.title === currentSection?.title
              ? 'dark:bg-slate-600 bg-slate-100'
              : ''
          "
            class="group h-8 flex items-center justify-between rounded transition-colors duration-100 dark:hover:bg-slate-600 hover:bg-slate-100"
          >
            <a
              (click)="changeCurrentSection(section)"
              role="button"
              class="w-full py-1 px-3 dark:text-white text-ellipsis overflow-hidden"
              rel="ugc"
            >
              {{ section.title }}
            </a>
            <app-edit-button
              class="hidden group-hover:inline-flex"
              (onClick)="openEditSection(section)"
              title="Edit password"
            ></app-edit-button>
            <app-delete-button
              class="hidden group-hover:inline-flex"
              (onClick)="openDeleteSection(section)"
              title="Delete section"
            ></app-delete-button>
          </li>
        </ul>
      </nav>
    }
    <div class="w-full h-1 border-b-2 border-slate-300 my-2"></div>
    <app-regular-button
      (onClick)="openCreateSection()"
      text="+ Añadir sección"
    ></app-regular-button>
  </div>
} @else {
  <div class="text-center my-20">
    @if (!(loading$ | async) && sectionList.length === 0) {
      <div class="animate-fade-in-down mx-auto text-3xl text-gray-500">
        No hay ninguna sección
        <div class="mx-auto my-5 w-fit">
          <app-regular-button
            text="Crea una"
            buttonType="outline"
            (onClick)="openCreateSection()"
          ></app-regular-button>
        </div>
      </div>
    } @else if ((loading$ | async)) {
      <app-spinner></app-spinner>
    }
  </div>
}

<app-overlay
  [showOverlay]="isCreatingSection"
  [useCancelButton]="false"
  [disableAccept]="sectionForm.title === ''"
  (onAcceptEvent)="onCreateSection()"
  (onCloseEvent)="isCreatingSection = false"
>
  <h2 class="text-xl mb-4">Pónle un título</h2>
  <form (submit)="onCreateSection()">
    <app-input
      placeholder="Título"
      [model]="sectionForm.title"
      (valueChange)="sectionForm.title = $event"
    >
    </app-input>
  </form>
</app-overlay>

<!--Editing section-->
<app-overlay
  [showOverlay]="isEditingSection"
  (onCloseEvent)="isEditingSection = false"
  [disableAccept]="
    sectionForm.title.length === 0 ||
    sectionForm.title === temporalSectionTitle
  "
  (onAcceptEvent)="onEditSection()"
>
  <form (submit)="onEditSection()">
    <h1 class="text-center font-bold">Editar sección</h1>
    <app-input
      [model]="sectionForm.title"
      type="text"
      (valueChange)="sectionForm.title = $event"
      placeholder="Título de sección"
    ></app-input>
  </form>
</app-overlay>

<!--Deleting section-->
<app-overlay
  [showOverlay]="isDeletingSection"
  (onCloseEvent)="isDeletingSection = false"
  (onAcceptEvent)="onDeleteSection()"
>
  <form (submit)="onDeleteSection()">
    <h1 class="text-center font-bold">
      ¿Seguro que deseas eliminar esta sección?
    </h1>
    <div class="mx-auto my-2 text-center text-xl w-fit font-bold text-red-400">
      {{ sectionForm!.title }}
    </div>
    <h2 class="text-center text-gray-400">
      Perderás todas las contraseñas asociadas.
    </h2>
  </form>
</app-overlay>

<!--&lt;!&ndash; Activate visibility &ndash;&gt;-->
<!--<app-overlay-->
<!--  [showOverlay]="isAccountPasswordOverlayVisible"-->
<!--  (onCloseEvent)="toggleAccountPasswordOverlay()"-->
<!--  (onAcceptEvent)="checkAccountPassword()"-->
<!--&gt;-->
<!--  <h1 class="mb-3 text-lg font-bold">Escribe tu contraseña:</h1>-->
<!--  <form (ngSubmit)="checkAccountPassword()">-->
<!--    <app-input-->
<!--      [model]="accountPass"-->
<!--      type="password"-->
<!--      (valueChange)="accountPass = $event"-->
<!--      placeholder="Contraseña de tu cuenta de NoteThat"-->
<!--    ></app-input>-->
<!--  </form>-->
<!--</app-overlay>-->
