<nav
  class="dark:bg-gray-950 mx-auto max-w-full px-2 :px-6 lg:px-8 fixed top-0 left-0 right-0 z-50 border-b-2 border-b-purple-800"
>
  <!-- Desktop menu-->
  <div class="h-16 flex flex-row justify-between items-center">
    <!--        Mobile menu button-->
    <div class="lg:hidden">
      <button
        type="button"
        #menuButton
        class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-400 dark:focus:ring-white"
        aria-controls="mobile-menu"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>

        <svg
          class="block h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>

        <svg
          class="hidden h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>

    <div>
      <img
        alt="NoteThat"
        (click)="navigateTo('home')"
        class="block h-12 w-auto cursor-pointer"
        src="./assets/img/NoteThatLetters.png"
        height="100"
        width="250"
      />
    </div>

    <div class="hidden lg:ml-6 lg:block sm:flex-1 sm:text-center">
      <div class="flex space-x-4">
        <div *ngFor="let option of optionList">
          <app-navigation-button
            (click)="navigateTo(option.route)"
            [text]="option.type"
            [activeRoute]="isActiveRoute(option.route)"
          ></app-navigation-button>
        </div>
      </div>
    </div>

    <div class="flex items-center">
      <app-dark-mode-button *ngIf="!environment.production" class="mr-2"></app-dark-mode-button>

      <!-- User menu-->
      <div class="relative">
        <!-- User button-->
        <div #userButton>
          <button
            type="button"
            class="flex text-slate-500 dark:text-slate-200 rounded-full text-sm focus:outline-none focus:ring-2 focus:ring-slate-500 dark:focus:ring-slate-200 focus:ring-offset-2 dark:focus:ring-offset-gray-950"
            id="user-menu-button"
            aria-expanded="false"
            aria-haspopup="true"
          >
            <span class="sr-only">Open user menu</span>
            <lucide-icon
              [strokeWidth]="1"
              name="circle-user-round"
              size="36"
            ></lucide-icon>
          </button>
        </div>
        <div
          *ngIf="isOpenUserMenu"
          class="absolute transition-colors duration-100 right-0 z-10 mt-2 w-fit origin-top-right rounded-md bg-white dark:bg-gray-800 py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="user-menu-button"
          tabindex="-1"
        >
          <div aria-label="Main Nav" class="flex flex-col space-y-1">
            <a
              role="button"
              routerLink="/user/profile"
              routerLinkActive="bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-white"
              class="flex items-center gap-2 rounded-lg bg-transparent hover:bg-gray-100 dark:hover:bg-gray-700 px-4 py-2 text-gray-500 dark:text-gray-300 hover:text-gray-700 dark:hover:text-gray-100"
            >
              <lucide-icon
                name="user"
                size="20"
                [strokeWidth]="2"
              ></lucide-icon>
              <span class="text-sm font-medium"> Perfil </span>
            </a>

            <!-- Notifications option-->
            <a
              role="button"
              routerLink="/user/login"
              routerLinkActive="bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-white"
              class="flex items-center gap-2 rounded-lg bg-transparent hover:bg-gray-100 dark:hover:bg-gray-700 px-4 py-2 text-gray-500 dark:text-gray-300 hover:text-gray-700 dark:hover:text-gray-100"
            >
              <div class="flex items-center gap-2">
                <lucide-icon
                  name="bell-ring"
                  size="20"
                  [strokeWidth]="2"
                ></lucide-icon>
                <span class="text-sm font-medium"> Notificaciones </span>
              </div>

              <span class="relative flex h-3 w-3">
                  <span
                    class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"
                  ></span>
                  <span
                    class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"
                  ></span>
                </span>
            </a>

            <!-- User settings button-->
            <a
              role="button"
              routerLink="/user/settings"
              routerLinkActive="bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-white"
              class="flex items-center gap-2 rounded-lg bg-transparent hover:bg-gray-100 dark:hover:bg-gray-700 px-4 py-2 text-gray-500 dark:text-gray-300 hover:text-gray-700 dark:hover:text-gray-100"
            >
              <lucide-icon
                name="settings"
                size="20"
                [strokeWidth]="2"
              ></lucide-icon>
              <span class="text-sm font-medium"> Ajustes </span>
            </a>
            <a
              (click)="logout()"
              role="button"
              class="flex items-center gap-2 rounded-lg px-4 py-2 bg-transparent hover:bg-red-700 text-gray-500 dark:text-gray-200 hover:text-white"
            >
              <lucide-icon
                name="log-out"
                size="20"
                [strokeWidth]="2"
              ></lucide-icon>
              <span class="text-sm font-medium"> Cerrar sesión </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  Mobile menu-->
  <div *ngIf="showMobileMenu" class="bg-white lg:hidden" id="mobile-menu">
    <div class="dark:bg-gray-950 space-y-1 px-2 pb-3 pt-2">
      <div *ngFor="let option of optionList" class="w-full">
        <app-navigation-button
          (click)="navigateTo(option.route)"
          [text]="option.type"
          [activeRoute]="isActiveRoute(option.route)"
        ></app-navigation-button>
      </div>
    </div>
  </div>
</nav>
