<div
  class="fixed mx:auto inset-0 z-50 flex items-center justify-center backdrop-blur-sm bg-gray-500 bg-opacity-50 sm:p-3"
>
  <div
    #overlayTemplate
    class="bg-gray-100 mb-0 mt-auto md:mb-auto w-full md:max-w-md p-6 border-cyan-400 dark:bg-gray-900 rounded-md"
  >
    <div class="mb-4">
      <ng-content></ng-content>
    </div>
    <!-- Buttons -->
    <div class="flex justify-around sm:justify-end">
      <button
        *ngIf="useCancelButton"
        type="button"
        class="transition-colors duration-150 bg-gradient-to-r to-red-500 via-orange-500 from-yellow-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded self-end mx-1"
        (click)="toggleModal()"
      >
        Cancelar
      </button>
      <button
        *ngIf="useCancelButton"
        type="submit"
        class="transition-colors duration-150 disabled:bg-gray-400 bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded self-end mx-1"
        [disabled]="disableAccept"
        (click)="accept()"
      >
        <app-spinner></app-spinner>
        Aceptar
      </button>
    </div>
  </div>
</div>
