<div class="animate-fade-in-down">
  <div class="flex flex-col gap-3 md:flex-row justify-between items-center">
    <div class="mb-6 md:mb-0 order-0">
      <img
        class="object-cover w-full h-20"
        src="./assets/img/NoteThatSimple.png"
        alt="NoteThat"
      />
    </div>
    <app-quote class="md:order-1 order-2"></app-quote>
    <app-regular-button
      (click)="navigateToProfile()"
      class="order-1 md:order-2"
      [showSpinner]="true"
      buttonStyle="outline"
      [text]="fullName"
    >
    </app-regular-button>
  </div>
  <div class="mt-3">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <div *ngFor="let option of optionList">
        <app-card (click)="goToOption(option.route)">
          <div class="text-lg font-bold mb-2 hover:text-cyan-800">
            {{ option.type }}
          </div>
          <p>{{ option.description }}</p>
        </app-card>
      </div>
    </div>
  </div>
</div>
