<div class="animate-fade-in-down">
  <div class="flex flex-col gap-3 md:flex-row justify-between items-center">
    <div class="mb-6 ml-4 md:mb-0 order-0">
      <img
        class="object-contain w-full h-20"
        ngSrc="./assets/img/logo-primary.webp"
        alt="NoteThat"
        width="1000" height="1000"/>
    </div>
    <app-quote class="md:order-1 order-2"></app-quote>
    <app-regular-button
      (click)="navigateToProfile()"
      [showSpinner]="true"
      [text]="fullName"
      buttonStyle="outline"
      class="order-1 md:order-2"
    >
    </app-regular-button>
  </div>
  <div class="mt-3">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <div *ngFor="let option of optionList">
        <app-card class="group" (click)="goToOption(option.route)">
          <div class="text-lg font-bold mb-2 hover:text-cyan-800">{{ option.type }}</div>
          <p class="text-slate-400 group-hover:text-slate-900">{{ option.description }}</p>
        </app-card>
      </div>
    </div>
  </div>
</div>
