<div [ngClass]="getClasses()" role="alert">
  <strong class="font-bold">{{ type | uppercase }}!</strong>
  <span class="block sm:inline"> {{ message }}.</span>
  <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
    <button
      (click)="removeAlert($event)"
      title="Cerrar"
      type="button"
      class="transition-colors p-1 inline-flex items-center hover:bg-slate-500 hover:bg-opacity-20  justify-center rounded-md ring-offset-background dark:hover:bg-accent"
    >
      <lucide-icon
        (click)="removeAlert($event)"
        name="x"
        size="18"
      ></lucide-icon>
    </button>
  </span>
</div>
