<div
  class="rounded-xl bg-gradient-to-r from-teal-500 via-blue-500 to-cyan-600 p-0.5 shadow-sm"
>
  <div class="rounded-[10px] bg-white dark:bg-slate-900 p-3">
    <time class="block  text-xs opacity-70 mb-1">
      {{ note ? getNoteDate(note.creationDate) : 'dd/mm/yyyy' }}
    </time>
    <div class="mx-2 ">

      <app-input
        (valueChange)="onTitleChange($event)"
        [model]="note?.title"
        [required]="true"
        placeholder="*Título (requerido)"
        type="text"
      ></app-input>

      <app-input
        (valueChange)="onContentChange($event)"
        [model]="note?.content"
        [required]="true"
        placeholder="Contenido"
        type="textarea"
      ></app-input>
    </div>
  </div>
</div>
