<div class="flex flex-col mt-6">
  <div
    class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2"
  >
    <img
      ngSrc="assets/img/NoteThatFull.png"
      class="max-w-[180px]"
      alt="NoteThat"
      width="400"
      height="200"
    />
    <form
      class="bg-white dark:bg-slate-900 px-6 py-8 rounded shadow-xl dark:text-slate-300 w-full mt-8"
      (ngSubmit)="login($event)"
    >
      <h1 class="mb-8 text-cyan-600 dark:text-cyan-50 text-2xl text-center">Inicia sesión</h1>

      <app-input
        (valueChange)="onEmailChange($event)"
        [model]="form.email"
        [required]="true"
        placeholder="Email"
        type="email"
      ></app-input>

      <app-input
        (valueChange)="onPasswordChange($event)"
        [model]="form.password"
        [required]="true"
        placeholder="Contraseña"
        type="password"
      ></app-input>

      <div *ngIf="showAlert" class="mb-4">
        <app-alert
          (onClose)="modalClosed($event)"
          [message]="errorMessage"
          [type]="AlertType.ERROR"
        ></app-alert>
      </div>

      <button
        (click)="login($event)"
        type="submit"
        class="w-full text-center font-medium py-3 rounded text-purple-50 bg-purple-700 hover:bg-purple-500 my-1"
      >
        <app-spinner></app-spinner>
        <span>Iniciar sesión</span>
      </button>
    </form>

    <div class="text-gray-400 dark:text-gray-300 mt-6">
      ¿No tienes cuenta?
      <a
        class="cursor-pointer text-purple-500 hover:text-purple-500"
        (click)="navigateToRegister()"
      >
        Regístrate
      </a>
    </div>
  </div>
</div>
