<div class="flex flex-col mt-6">
  <div
    class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2"
  >
    <img
      ngSrc="assets/NoteThatFull.png"
      class="max-w-[180px]"
      alt="NoteThat"
      width="400"
      height="200"
    />
    <form
      autocomplete="on"
      class="bg-gray-800 px-6 py-8 rounded shadow-xl text-black w-full mt-8"
      (ngSubmit)="login($event)"
    >
      <h1 class="mb-8 text-cyan-50 text-2xl text-center">Inicia sesión</h1>

      <input
        required
        email
        autocomplete="on"
        [(ngModel)]="form.email"
        (keyup)="removeAlert($event)"
        type="email"
        class="block text-white bg-gray-700 hover:bg-gray-800 focus:bg-gray-800 w-full p-3 rounded mb-4"
        placeholder="Email"
      />

      <input
        required
        [(ngModel)]="form.password"
        (keyup)="removeAlert($event)"
        type="password"
        class="block text-white bg-gray-700 hover:bg-gray-800 focus:bg-gray-800 w-full p-3 rounded mb-4"
        placeholder="Contraseña"
      />

      <div *ngIf="showAlert" class="mb-4">
        <app-alert
          (onClose)="modalClosed($event)"
          [message]="errorMessage"
          [type]="AlertType.ERROR"
        ></app-alert>
      </div>

      <button
        (click)="login($event)"
        type="submit"
        class="w-full text-center font-medium py-3 rounded text-purple-50 bg-purple-700 hover:bg-purple-500 my-1"
      >
        <app-spinner></app-spinner>Iniciar sesión
      </button>
      <!-- <app-spinner></app-spinner> -->
    </form>

    <div class="text-gray-300 mt-6">
      No tienes cuenta?
      <a
        class="cursor-pointer text-purple-400 hover:text-purple-500"
        (click)="navigateToRegister()"
      >
        Regístrate
      </a>
    </div>
  </div>
</div>
