@tailwind base;
@tailwind components;
@tailwind utilities;

.neon-text {
  text-shadow: 0 0 5px #e600e6, 0 0 10px #e600e6, 0 0 20px #e600e6, 0 0 40px #e600e6;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('./assets/fonts/geist/geist-mono/GeistMono-Variable.woff2') format('woff2')
}

@font-face {
  font-family: 'Geist Sans';
  src: url('./assets/fonts/geist/geist-sans/Geist-Variable.woff2') format('woff2')
}

body {
  font-family: 'Geist Sans', sans-serif;
}

.mono {
  font-family: 'Geist Mono', monospace;
}

// Scroll bar settings
@media(min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-800;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400 dark:bg-gray-600;
  }
}
