@tailwind base;
@tailwind components;
@tailwind utilities;

$gray-300: #555;
$gray-800: #1f2937;
$gray-700: #888;

.neon-text {
  text-shadow: 0 0 5px #e600e6, 0 0 10px #e600e6, 0 0 20px #e600e6, 0 0 40px #e600e6;
}

@at-root {
  :hover {
    @apply transition-all duration-300;
  }

  button,
  img,
  div,
  input {
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      outline: none;
      -webkit-tap-highlight-color: transparent;
    }
  }

}

@media(min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $gray-800;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $gray-700;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $gray-300;
  }
}
