@tailwind base;
@tailwind components;
@tailwind utilities;

.neon-text {
  text-shadow: 0 0 5px #e600e6, 0 0 10px #e600e6, 0 0 20px #e600e6, 0 0 40px #e600e6;
}

// @at-root {
// :hover {
//   @apply transition-all duration-150;
// }

// :focus {
//   @apply transition-all duration-150;
// }

// }

// Scroll bar settings
@media(min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-800;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400 dark:bg-gray-600;
  }
}
