<li *ngIf="password"
    class="group animate-fade-in-down animate-duration-fast flex justify-between transition-colors duration-100 dark:hover:bg-slate-800 hover:bg-slate-100 px-4 py-1 rounded-md"
>
  <div>
    <h2 class="font-semibold">
      <div
        class="text-cyan-600 hover:underline dark:text-cyan-300 text-ellipsis overflow-hidden"
      >
        {{ password.title }}
      </div>
    </h2>
    <h2 class="text-sm text-ellipsis overflow-hidden">
      {{ password.username }}
    </h2>
    <h2 class="text-sm text-ellipsis overflow-hidden">
      {{ password.email }}
    </h2>
    @if (password.visible && password.password) {
      <app-copy-badge
        [text]="(password.password)"
        icon="key-round"
      ></app-copy-badge>
    } @else {
      <p>******</p>
    }
  </div>
  <div class="hidden group-hover:flex space-x-2 items-center">
    <app-show-password-button
      (onClick)="toggleAccountPasswordOverlay(false)"
      title="Show/hide password"
    ></app-show-password-button>
    <app-edit-button
      (onClick)="toggleEdit()"
      title="Edit password"
    ></app-edit-button>
    <app-delete-button
      (onClick)="toggleDelete()"
      title="Delete password"
    ></app-delete-button>
  </div>
</li>


<!--Editing password-->

<app-overlay *ngIf="passwordForm as form"
             [showOverlay]="isEditing"
             [disableAccept]="form.title === '' || form.password === ''"
             [useActionButton]="true"
             [useCancelButton]="true"
             (onAcceptEvent)="editPassword()"
             (onCloseEvent)="isEditing = false"
>
  <h2 class="text-xl mb-4">Editar contraseña</h2>
  <form (submit)="editPassword()">
    <app-input
      [model]="form.title"
      (valueChange)="form.title = $event"
      [required]="true"
      placeholder="Título (obligatorio)"
    ></app-input>

    <div class="flex items-center gap-1">
      <app-input
        class="w-full"
        [model]="form.password"
        (valueChange)="form.password = $event"
        [type]="password.visible ? 'text' : 'password'"
        [required]="true"
        placeholder="Contraseña"
      ></app-input>
      <app-show-password-button
        class="mb-2"
        title="Show/hide password"
        [visible]="password.visible ?? false"
        (onClick)="toggleAccountPasswordOverlay()"
      ></app-show-password-button>
    </div>
    <app-input
      placeholder="Usuario (opcional)"
      [model]="form.username"
      (valueChange)="form.username = $event"
    ></app-input>
    <app-input
      type="email"
      placeholder="Email (opcional)"
      [model]="form.email"
      (valueChange)="form.email = $event"
    ></app-input>
  </form>
</app-overlay>


<!--Deleting password-->
<app-overlay *ngIf="passwordForm as form"
             [showOverlay]="isDeleting"
             (onCloseEvent)="toggleDelete()"
             (onAcceptEvent)="deletePassword()"
>
  <h1 class="text-center font-bold">
    ¿Seguro que deseas eliminar esta contraseña?
  </h1>
  <form (submit)="deletePassword()">
    <div class="mx-auto mt-2 text-center text-xl w-fit font-bold text-red-400">
      {{ form.title }}
    </div>
  </form>
</app-overlay>

<!-- Activate visibility -->
<app-overlay
  [showOverlay]="isAccountPasswordOverlayVisible"
  (onCloseEvent)="toggleAccountPasswordOverlay()"
  (onAcceptEvent)="checkAccountPassword()"
>
  <h1 class="mb-3 text-lg font-bold">Escribe tu contraseña:</h1>
  <form (ngSubmit)="checkAccountPassword()">
    <app-input
      [model]="accountPass"
      type="password"
      (valueChange)="accountPass = $event"
      placeholder="Contraseña de tu cuenta de NoteThat"
    ></app-input>
  </form>
</app-overlay>
