<div *ngIf="spinnerService.showSpinner">
  <div *ngFor="let _ of [].constructor(3)" class="border border-blue-300 shadow rounded-md mt-4 p-4 w-full">
    <div class="animate-pulse flex space-x-4">
      <div class="flex-1 space-y-6 py-1">
        <div class="h-2 bg-slate-700 rounded"></div>
        <div class="space-y-3">
          <div class="grid grid-cols-3 gap-4">
            <div class="h-2 bg-slate-700 rounded col-span-2"></div>
            <div class="h-2 bg-slate-700 rounded col-span-1"></div>
          </div>
          <div class="h-2 bg-slate-700 rounded"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!spinnerService.showSpinner">
  <div class="max-w-screen-xl mx-auto">
    <div class="flex flex-row justify-between relative">
      <button (click)="goToHome()"
              class="bg-gray-700 hover:bg-gray-400 transition-all
              text-white font-bold py-2 px-4 rounded">
        Inicio
      </button>
      <button (click)="toggleIsAddingNote()"
              class="bg-gradient-to-r to-green-500 via-blue-500 from-purple-600 hover:bg-blue-700
    text-white font-bold py-2 px-4 rounded block sm:inline-block">
        {{isAddingNote ? 'Cancelar' : 'Añadir nota'}}
      </button>
    </div>
  </div>

  <div [@slideDown]="isAddingNote ? 'visible' : 'hidden'"
       class="overflow-hidden transition-all duration-500">
    <div *ngIf="isAddingNote"
         class="rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:shadow-sm mt-4">
      <div class="rounded-[10px] bg-gray-800 p-4 sm:p-6">

        <h1 class="text-2xl font-bold text-white mb-2">Nueva nota</h1>
        <form (ngSubmit)="submitNote()">
          <input
            class="bg-gray-800 text-white placeholder-gray-400 px-4 py-2 rounded-md mb-4 w-full focus:outline-none focus:bg-gray-700"
            type="text" placeholder="*Título" [(ngModel)]="newNote.title" required>
          <div class="flex flex-col">
              <textarea
                class="bg-gray-800 text-white placeholder-gray-400 px-4 py-2 rounded-md mb-2 focus:outline-none focus:bg-gray-700"
                rows="3" placeholder="Contenido" [(ngModel)]="newNote.content"></textarea>
            <button
              class="self-end bg-purple-500 hover:bg-purple-700 disabled:bg-gray-400 text-white font-bold py-2 px-4 rounded"
              type="submit" [disabled]="addingFormIsEmpty">
              Crear
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngFor="let note of noteList">

    <!--  Normal note  -->
    <div *ngIf="!isEditingNote" (click)="editNote(note, $event)" id="note"
         class="rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600
       p-0.5 shadow-xl transition hover:shadow-sm mt-4 is-note"
    >
      <div class="rounded-[10px] bg-gray-800 p-4 sm:p-6">
        <time class="block text-xs text-gray-300">
          {{getNoteDate(note.creationDate)}}
        </time>
        <div class="flex flex-row justify-between">
          <div>
            <h3 class="mt-0.5 text-lg font-bold text-white">
              {{note.title}}
            </h3>

            <h4 class="mt-0.5 text-sm font-medium text-white">
              {{note.content}}
            </h4>
          </div>
          <div class="self-end">
            <button (click)="deleteNote(note)"
                    class="bg-red-800 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">
              <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 6H5H21" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path
                  d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--  Editing note  -->
  <div *ngIf="isEditingNote">
    <div [@slideDown]="isEditingNote ? 'visible' : 'hidden'"
         class="overflow-hidden transition-all duration-500">
      <div *ngIf="isEditingNote"
           class="rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:shadow-sm mt-4">
        <div class="rounded-[10px] bg-gray-800 p-4 sm:p-6">
          <h1 class="text-2xl font-bold text-white mb-2">Editar nota</h1>
          <form (ngSubmit)="submitEditing()">
            <input #editingTitle
              class="bg-gray-800 text-white placeholder-gray-400 px-4 py-2 rounded-md mb-4 w-full focus:outline-none focus:bg-gray-700"
              type="text" placeholder="Título (obligatorio)*" [value]="editingNote.title" required>
            <div class="flex flex-col">
              <textarea #editingContent
                class="bg-gray-800 text-white placeholder-gray-400 px-4 py-2 rounded-md mb-2 focus:outline-none focus:bg-gray-700"
                rows="3" placeholder="Contenido" [value]="editingNote.content"></textarea>
              <div class="self-end">
                <button
                  class="bg-purple-500 mr-2 hover:bg-purple-700 disabled:bg-gray-400 text-white font-bold py-2 px-4 rounded"
                  type="submit" [disabled]="editingFormIsEmpty">
                  Guardar
                </button>
                <button (click)="toggleIsEditingNote()"
                        class="bg-gradient-to-r to-red-500 via-orange-500 from-yellow-600 hover:bg-blue-700
                        text-white font-bold py-2 px-4 rounded self-end">
                  Cancelar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <app-alert
      *ngIf="showAlert"
      [type]="AlertType.WARNING"
      (onClose)="modalClosed()"
      [message]="'Aún no tienes ninguna nota'">
    </app-alert>
  </div>
</div>
