<button
  [title]="title"
  (click)="onClickEmit($event)"
  type="button"
  class="p-2 inline-flex items-center dark:hover:bg-cyan-700 hover:bg-cyan-400 focus:bg-cyan-600 dark:focus:bg-cyan-900 justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
><span class="sr-only">{{title}}</span>
  <lucide-icon name="pencil" [size]="iconSize" (click)="$event.preventDefault()"></lucide-icon>
</button>
